In [1]:
!pip install pandas xlrd ipdb

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: ipdb in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.12.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipdb) (45.1.0.post20200119)
Requirement already satisfied: ipython>=5.1.0; python_version >= "3.4" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipdb) (7.11.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: traitlets>=4.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.3.3)
Requirement already satisfied: decorator in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.4.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (3.0.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.8.0)
Requirement already satisfied: jedi>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.16.0)
Requirement already satisfied: pygments in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (2.5.2)
Requirement already satisfied: pickleshare in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.7.5)
Requirement already satisfied: backcall in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.0)
Requirement already satisfied: ipython-genutils in /srv/conda/envs/notebook/lib/python3.7/site-packages (from traitlets>=4.2->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.2.0)
Requirement already satisfied: wcwidth in /srv/conda/envs/notebook/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.8)
Requirement already satisfied: ptyprocess>=0.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.6.0)
Requirement already satisfied: parso>=0.5.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.6.0)

In [2]:
import os
import pandas as pd
import ipdb
from datetime import datetime, time

In [3]:
from index import get_df_with_opening_hours

In [4]:
%ls data
fn = 'data/weekly-2020-02-10 0925.xlsx'
new_df = get_df_with_opening_hours(fn)
new_df

'weekly-2020-02-10 0925.xlsx'

               datetime          library  people_in  people_out opening_type
0   2020-02-03 00:00:00  Chipping Barnet          0           0       closed
6   2020-02-03 00:00:00        Colindale          0           0       closed
9   2020-02-03 00:00:00    East Finchley          0           0       closed
12  2020-02-03 00:00:00          Edgware          0           0       closed
15  2020-02-03 00:00:00    Golders Green          0           0       closed
..                  ...              ...        ...         ...          ...
561 2020-02-09 23:00:00    East Finchley          0           0       closed
564 2020-02-09 23:00:00          Edgware          0           0       closed
567 2020-02-09 23:00:00    Golders Green          0           0       closed
570 2020-02-09 23:00:00   North Finchley          0           0       closed
573 2020-02-09 23:00:00           Osidge          0           0       closed

[1176 rows x 5 columns]

In [5]:
curr = pd.read_csv('2020.csv')
curr

,datetime,library,people_in,people_out,opening_type
0,2020-01-01 00:00:00,Chipping Barnet,0,0,closed
1,2020-01-01 00:00:00,Colindale,0,0,closed
2,2020-01-01 00:00:00,Edgware,0,0,closed
3,2020-01-01 00:00:00,Finchley Church End,0,0,closed
4,2020-01-01 00:00:00,Golders Green,0,0,closed
...,...,...,...,...,...
11419,2020-02-09 23:00:00,East Finchley,0,0,closed
11420,2020-02-09 23:00:00,Edgware,0,0,closed
11421,2020-02-09 23:00:00,Golders Green,0,0,closed
11422,2020-02-09 23:00:00,North Finchley,0,0,closed
11423,2020-02-09 23:00:00,Osidge,0,0,closed

In [6]:
res = pd.concat([curr, new_df])
res

,datetime,library,people_in,people_out,opening_type
0,2020-01-01 00:00:00,Chipping Barnet,0,0,closed
1,2020-01-01 00:00:00,Colindale,0,0,closed
2,2020-01-01 00:00:00,Edgware,0,0,closed
3,2020-01-01 00:00:00,Finchley Church End,0,0,closed
4,2020-01-01 00:00:00,Golders Green,0,0,closed
...,...,...,...,...,...
561,2020-02-09 23:00:00,East Finchley,0,0,closed
564,2020-02-09 23:00:00,Edgware,0,0,closed
567,2020-02-09 23:00:00,Golders Green,0,0,closed
570,2020-02-09 23:00:00,North Finchley,0,0,closed
573,2020-02-09 23:00:00,Osidge,0,0,closed

In [7]:
res.drop_duplicates(inplace=True)
res

,datetime,library,people_in,people_out,opening_type
0,2020-01-01 00:00:00,Chipping Barnet,0,0,closed
1,2020-01-01 00:00:00,Colindale,0,0,closed
2,2020-01-01 00:00:00,Edgware,0,0,closed
3,2020-01-01 00:00:00,Finchley Church End,0,0,closed
4,2020-01-01 00:00:00,Golders Green,0,0,closed
...,...,...,...,...,...
561,2020-02-09 23:00:00,East Finchley,0,0,closed
564,2020-02-09 23:00:00,Edgware,0,0,closed
567,2020-02-09 23:00:00,Golders Green,0,0,closed
570,2020-02-09 23:00:00,North Finchley,0,0,closed
573,2020-02-09 23:00:00,Osidge,0,0,closed

In [8]:
res.to_csv('2020.csv', index=False)