In [1]:
!pip install pandas xlrd ipdb

Requirement already satisfied: pandas in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: xlrd in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: ipdb in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (0.12.3)
Requirement already satisfied: pytz>=2017.2 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied: ipython>=5.1.0; python_version >= "3.4" in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipdb) (7.8.0)
Requirement already satisfied: setuptools in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipdb) (41.4.0)
Requirement already satisfied: six>=1.5 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Requirement already satisfied: decorator in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.4.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (2.0.10)
Requirement already satisfied: pygments in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (2.4.2)
Requirement already satisfied: pickleshare in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.7.5)
Requirement already satisfied: backcall in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.7.0)
Requirement already satisfied: traitlets>=4.2 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.3.3)
Requirement already satisfied: jedi>=0.10 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.15.1)
Requirement already satisfied: wcwidth in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.6.0)
Requirement already satisfied: ipython-genutils in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from traitlets>=4.2->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.2.0)
Requirement already satisfied: parso>=0.5.0 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.5.1)

In [2]:
import os
import pandas as pd
import ipdb
from datetime import datetime, time

In [3]:
%ls data

weekly-2020-02-10 0925.xlsx

In [4]:
libs = sorted(pd.read_csv('libraries.csv').full_name.tolist())

In [5]:
# CONVERT
dn = 'data'
fn = dn + '/' + 'weekly-2020-02-10 0925.xlsx'
xl = pd.ExcelFile(fn)
sheets = xl.sheet_names
res=[]
for sheet in sheets:
    df = xl.parse(sheet)
    date = datetime.strptime(df.columns[0], '%d %B %Y')
    df = (
        df.loc[df['Counter Name'].isin(libs)]
        .rename(columns={df.columns[0]: 'dt'})
        .fillna('x')        
    )
    times=df.loc[df.dt!='x']
    df.dt = df.dt.replace(to_replace='x', method='ffill')
    dt = list(map(lambda x: datetime.combine(date, time(int(x[:2]), 0)), df.dt.tolist()))
    df.dt = dt
    res.append(df)                             

df = pd.concat(res)
df = df.rename(columns={'Counter Name': 'Library'})

In [6]:
def to_hours(x):
    return pd.to_datetime(x).hour

oh = pd.read_csv('opening hours.csv', converters={'start': lambda x: to_hours(x), 'finish': lambda x: to_hours(x)})
oh

            library  day  start  finish opening_type
0         Burnt Oak  Mon     14      20      staffed
1         Burnt Oak  Wed      9      12      staffed
2         Burnt Oak  Fri     14      17      staffed
3         Burnt Oak  Sat     14      17      staffed
4         Burnt Oak  Mon      9      14          SSO
..              ...  ...    ...     ...          ...
144  North Finchley  Thu     12      20          SSO
145  North Finchley  Fri     17      20          SSO
146   East Finchley  Thu     17      20          SSO
147          Osidge  Thu     17      20          SSO
148          Osidge  Thu     17      20          SSO

[149 rows x 5 columns]

In [26]:
check = df.iloc[246][['dt', 'Library']]
def get_ot(dt, lib):
    import ipdb
    in_df = pd.concat([dt, lib], axis=1)
    res=[]
    for row in in_df.itertuples():
#         ipdb.set_trace()
        day = row.dt.day_name()[:3]
        mask = (
            (oh.library==row.Library) &
            (oh.day==day) &
            (oh.start<=row.dt.hour) &
            (oh.finish>row.dt.hour)
        )
        if oh.loc[mask].empty:
            res.append('closed')
        else:
            ot = oh.loc[mask].opening_type.values[0]
            res.append(ot)
#     ipdb.set_trace()
    return pd.Series(res)

ots = get_ot(df.dt, df.Library)
df['opening_type'] = ots.values
df

                     dt          Library  People In  People Out opening_type
0   2020-02-03 00:00:00  Chipping Barnet          0           0       closed
6   2020-02-03 00:00:00        Colindale          0           0       closed
9   2020-02-03 00:00:00    East Finchley          0           0       closed
12  2020-02-03 00:00:00          Edgware          0           0       closed
15  2020-02-03 00:00:00    Golders Green          0           0       closed
..                  ...              ...        ...         ...          ...
561 2020-02-09 23:00:00    East Finchley          0           0       closed
564 2020-02-09 23:00:00          Edgware          0           0       closed
567 2020-02-09 23:00:00    Golders Green          0           0       closed
570 2020-02-09 23:00:00   North Finchley          0           0       closed
573 2020-02-09 23:00:00           Osidge          0           0       closed

[1176 rows x 5 columns]

In [20]:
%debug

> /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py(1142)wrapper()
   1140
   1141         elif isinstance(other, ABCSeries) and not self._indexed_same(other):
-> 1142             raise ValueError("Can only compare identically-labeled " "Series objects")
   1143
   1144         elif is_categorical_dtype(self):

ipdb> oh.start
*** NameError: name 'oh' is not defined
ipdb> start
*** NameError: name 'start' is not defined
ipdb> self.start
*** AttributeError: 'Series' object has no attribute 'start'
ipdb> self
0           Burnt Oak
1           Burnt Oak
2           Burnt Oak
3           Burnt Oak
4           Burnt Oak
            ...
144    North Finchley
145    North Finchley
146     East Finchley
147            Osidge
148            Osidge
Name: library, Length: 149, dtype: object
ipdb> quit