In [1]:
!pip install pandas xlrd ipdb

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: ipdb in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.12.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipdb) (45.1.0.post20200119)
Requirement already satisfied: ipython>=5.1.0; python_version >= "3.4" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipdb) (7.11.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.8.0)
Requirement already satisfied: pygments in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (2.5.2)
Requirement already satisfied: traitlets>=4.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.3.3)
Requirement already satisfied: jedi>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.16.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (3.0.3)
Requirement already satisfied: decorator in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.4.1)
Requirement already satisfied: pickleshare in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.7.5)
Requirement already satisfied: backcall in /srv/conda/envs/notebook/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.0)
Requirement already satisfied: ptyprocess>=0.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.6.0)
Requirement already satisfied: ipython-genutils in /srv/conda/envs/notebook/lib/python3.7/site-packages (from traitlets>=4.2->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.2.0)
Requirement already satisfied: parso>=0.5.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.6.0)
Requirement already satisfied: wcwidth in /srv/conda/envs/notebook/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.8)

In [2]:
import os
import pandas as pd
import ipdb
from datetime import datetime, time

In [3]:
%ls data

'weekly-2020-02-10 0925.xlsx'

In [4]:
libs = sorted(pd.read_csv('libraries.csv').full_name.tolist())

In [5]:
# CONVERT
dn = 'data'
fn = dn + '/' + 'weekly-2020-02-10 0925.xlsx'
xl = pd.ExcelFile(fn)
sheets = xl.sheet_names
res=[]
for sheet in sheets:
    df = xl.parse(sheet)
    date = datetime.strptime(df.columns[0], '%d %B %Y')
    df = (
        df.loc[df['Counter Name'].isin(libs)]
        .rename(columns={df.columns[0]: 'dt'})
        .fillna('x')        
    )
    times=df.loc[df.dt!='x']
    df.dt = df.dt.replace(to_replace='x', method='ffill')
    dt = list(map(lambda x: datetime.combine(date, time(int(x[:2]), 0)), df.dt.tolist()))
    df.dt = dt
    res.append(df)                             

df = pd.concat(res)
df = df.rename(columns={'Counter Name': 'Library'})

In [6]:
oh = pd.read_csv('opening hours.csv')
oh

            library  day     start    finish opening_type
0         Burnt Oak  Mon  14:00:00  20:00:00      staffed
1         Burnt Oak  Wed  09:00:00  12:30:00      staffed
2         Burnt Oak  Fri  14:00:00  17:00:00      staffed
3         Burnt Oak  Sat  14:00:00  17:00:00      staffed
4         Burnt Oak  Mon  09:00:00  14:00:00          SSO
..              ...  ...       ...       ...          ...
144  North Finchley  Thu  12:30:00  20:00:00          SSO
145  North Finchley  Fri  17:00:00  20:00:00          SSO
146   East Finchley  Thu  17:00:00  20:00:00          SSO
147          Osidge  Thu  17:00:00  20:00:00          SSO
148          Osidge  Thu  17:00:00  20:00:00          SSO

[149 rows x 5 columns]

In [13]:
check = df.iloc[0][['dt', 'Library']]

def get_ot(dt, lib):
    ipdb.set_trace()
    day = dt.day_name()[:3]
    mask = (
        (oh.library==lib) &
        (oh.day==day) &
        (int(oh.start[:2])<=dt.hour) &
        (int(oh.finish[:2])>dt.hour)
    )
    ot = oh.loc[mask]
    ipdb.set_trace()
    return None

get_ot(check['dt'], check.Library)

> <ipython-input-13-31e1ee62d56e>(5)get_ot()
      4     ipdb.set_trace()
----> 5     day = dt.day_name()[:3]
      6     mask = (

ipdb> c

TypeError: cannot convert the series to <class 'int'>