In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: pytz>=2017.2 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [2]:
import pandas as pd

In [26]:
df = (
    pd.read_csv('opening hours.csv', parse_dates=['start', 'finish'])
    .assign(diff = lambda x: (x.finish-x.start))
)
df[['opening_type', 'diff']].groupby('opening_type').sum().assign(hours = lambda x: x['diff'].dt.total_seconds() / 3600)

                         diff  hours
opening_type
SSO          23 days 22:00:00  574.0
staffed      11 days 01:30:00  265.5