In [2]:
!pip install pandas

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Collecting pandas
  Downloading pandas-1.0.1-cp37-cp37m-manylinux1_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 3.2 MB/s eta 0:00:01
Collecting numpy>=1.13.3
  Downloading numpy-1.18.1-cp37-cp37m-manylinux1_x86_64.whl (20.1 MB)
     |████████████████████████████████| 20.1 MB 149 kB/s  eta 0:00:01
Collecting pytz>=2017.2
  Downloading pytz-2019.3-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 59.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.18.1 pandas-1.0.1 pytz-2019.3

In [3]:
import pandas as pd

In [13]:
df = (
    pd.read_csv('opening hours.csv', parse_dates=['start', 'finish'])
    .assign(diff = lambda x: (x.finish-x.start))
)
# df[['opening_type', 'diff']].groupby('opening_type').sum().assign(hours = lambda x: x['diff'].dt.total_seconds() / 3600)
(
    df.groupby(['library','opening_type'])
    .sum()['diff'].to_frame()
    .assign(hours=lambda x: x['diff'].dt.total_seconds()/3600)
    .drop('diff', axis=1)
)

                                  hours
library             opening_type
Burnt Oak           SSO            30.5
                    staffed        15.5
Childs Hill         staffed        18.0
Chipping Barnet     SSO            68.5
                    staffed        23.5
Colindale           SSO            68.5
                    staffed        23.5
East Barnet         staffed        21.0
East Finchley       SSO            53.0
                    staffed        16.0
Edgware             SSO            68.5
                    staffed        23.5
Finchley Church End SSO            68.5
                    staffed        23.5
Golders Green       SSO            53.5
                    staffed        15.5
Hendon              SSO            53.0
                    staffed        16.0
Mill Hill           staffed        14.5
North Finchley      SSO            53.5
                    staffed        15.5
Osidge              SSO            56.5
                    staffed        15.5
South Friern        staffed        24.0