In [1]:
!pip install pandas xlrd ipdb

Requirement already satisfied: pandas in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: xlrd in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: ipdb in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (0.12.3)
Requirement already satisfied: numpy>=1.13.3 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied: pytz>=2017.2 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: ipython>=5.1.0; python_version >= "3.4" in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipdb) (7.8.0)
Requirement already satisfied: setuptools in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipdb) (41.4.0)
Requirement already satisfied: six>=1.5 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Requirement already satisfied: traitlets>=4.2 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.3.3)
Requirement already satisfied: jedi>=0.10 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.15.1)
Requirement already satisfied: decorator in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.4.0)
Requirement already satisfied: pygments in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (2.4.2)
Requirement already satisfied: pickleshare in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (2.0.10)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.0)
Requirement already satisfied: backcall in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.1.0; python_version >= "3.4"->ipdb) (4.7.0)
Requirement already satisfied: ipython-genutils in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from traitlets>=4.2->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.2.0)
Requirement already satisfied: parso>=0.5.0 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.5.1)
Requirement already satisfied: wcwidth in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /Users/richardlynch/opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.1.0; python_version >= "3.4"->ipdb) (0.6.0)

In [2]:
import pandas as pd

In [5]:
df_2018 = pd.read_csv('2018.csv')
df_2019 = pd.read_csv('2019.csv')
df=pd.concat([df_2018, df_2019])

In [7]:
df.groupby('library').sum()

                     people_in  people_out
library
Chipping Barnet         143734      156842
Colindale               136473      119269
Edgware                 245069      282905
Finchley Church End     241506      294206
Golders Green            72682       89536
North Finchley           84615       70106
Osidge                  103678      124381